<div id="page_wrapper">
      <div id="profile_image">
          <%= image_tag "profile.jpg" %>
      </div>
       <div id="content">
            <h1>Hi, I am Cleophas Mashiri</h1>
            This my personal blog I developed using Ruby and Rails.
       </div>
</div>
